<button class="btn btn-secondary btn-lg dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Eliasito97@gmail.com
</button>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Configuracion de cuenta</a></li>
    <li><a class="dropdown-item" href="#">Centro de asistencia tecnica</a></li>
    <li><a class="dropdown-item" href="#">Asistir a formacion</a></li>
    <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
</ul>