<button class="btn btn-secondary btn-lg dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Eliasito97@gmail.com
</button>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Account settings</a></li>
    <li><a class="dropdown-item" href="#">Technical assistance center</a></li>
    <li><a class="dropdown-item" href="#">attend training</a></li>
    <li><a class="dropdown-item" href="#">Sign off</a></li>
</ul>