<button class="CreateButton Button-Create oi oi-plus" data-bs-toggle="dropdown"></button>
     <ul class="dropdown-menu">
          <li><a class="dropdown-item" @onclick="@(()=>modal.Show<Page_CreatePassword>(""))">create a password</a></li>
     </ul>

                 