<div class="searchInputContainer" role="search" aria-label="Buscar">
    <input class="form-control vaultSearch" name="search" type="search" placeholder="Busca lo que quieras" />
   @* <button class="btn btn-outline-success" type="submit">Search</button>*@
</div>