body {
    margin: 100px;
    background-color: red;
    display: flex;
   
}
.container {
    background-color: gray;

}
#h2{
    color:red;
    text-justify:inter-word;


}
.input {
    display: flex;
    margin-block:auto;
}