@page "/Create_Password"
@using LastPass.Data
<form id="form1" method="post">
    <div class="container">
        <div>
            <h2>URL:</h2>
            <input @bind-value="model.URL" />
        </div>
        <div>
            <h2>Name:</h2>
            <input @bind-value="model.Name" />
        </div>
        <div>
            <h2>Username:</h2>
            <input id="User" @bind-value="model.Username" />
        </div>
        <div>
            <h2>site password:</h2>
            <input class="IdImput" @bind-value="model.Password">Password</input><br />
        </div>
        <div class="button-container">
            <button>Cancel</button>
            <button>
                <a class="action-btn" @onclick="Create" href="/Password">Crear</a>
            </button>
        </div>
    </div>
</form>
@code
{
    Model model = new Model();
    public string Password =" ";
    GoogleDrive googleDrive = new GoogleDrive();
    Deserialize deserialize1 = new Deserialize();
    List<Model> NewModel = new List<Model>();

    private void Create()
    {
        this.NewModel = deserialize1.GetDeserializeJson(googleDrive.ReadFile());
        model.Id = NewModel.Count();
        model.URL = "http://" + model.URL + "/favicon.ico";
        NewModel.Add(Encryp(model.Password));
        this.googleDrive.Serializar(NewModel);
        this.googleDrive.UploadFileToDrive();
    }

    private Model Encryp(string Password)
    {
        string cadenaEncriptada = Encrypt.GetEncryp(Password);
        model.Password = cadenaEncriptada;
        return model;
    }

    private void ParameterEncrip() 
    {
        Encryp(Password);
    }

    private class Encrypt
    {
        public static string GetEncryp(string str)
        {
            MD5 md5 = MD5CryptoServiceProvider.Create();
            ASCIIEncoding encoding = new ASCIIEncoding();
            byte[] stream = null;
            StringBuilder sb = new StringBuilder();
            stream = md5.ComputeHash(encoding.GetBytes(str));
            for (int i = 0; i < stream.Length; i++) sb.AppendFormat("{0:x2}", stream[i]);
            return sb.ToString();
        }
    }

    private void Upload()
    {
        this.googleDrive.UploadFileToDrive();
    }
 
}
