@page "/Create_Password"
@using LastPass.Data
        
<form  id="form1" method="post">
  <div class="container">
      <div class="row">
        <div class="col-24 ">
         
         
             <div>
                <h2>URL:</h2>
            <input @bind-value="model.URL"  />
            </div>

        </div>
      </div>
       <div class="app-row ">
        <div class="col-10 ">
              <div>
                <h2>Nombre:</h2>
            <input @bind-value="model.Name"  />
            </div>
         </div>
          <div class="col-10 ">
         <div>
                <h2>Carpeta:</h2>
                 <h2>@aux</h2>  
            <input  @bind-value="model.Folder"/>
            </div>
       </div>
         </div>
            <div class="app-row ">
                <div class="col-10 ">
                    <div>
                       <h2>Nombre de usuario:</h2>
                   <input id="User" @bind-value="model.Name" />
             </div>
            </div>
                  <div class="col-10 ">
                     <div>
                       <h2>Contraseña del sitio:</h2>
                       <input class="IdImput" @bind-value="model.Password">Password</input><br/>
                     </div>
                 </div>
                  
         </div>
           <div class="app-row ">
                <div class="col-5 ">
                    <div>
                    <button @onclick="crear" action="Password">Crear</button>
                   
                    </div>
              </div>
                  <div class="col-5 ">
                     <div>
                       <button>Cancelar</button>
                     </div>
                 </div>
               
         </div>
     
    </div>
</form>
   
     
@code
{
    Model model = new Model();

    public string Password ="batman";
    public string aux = "";
    GoogleDrive googleDrive = new GoogleDrive();

    deserializar deserealizar1 = new deserializar();

    List<Model> NewModel = new List<Model>();


    public void crear(){

        NewModel = deserealizar1.DeserializeJson( googleDrive.ReadFile());
        model.Id++;
        MD5(Password = model.Password);
        NewModel.Add(model);
        googleDrive.Serializar(NewModel);
        googleDrive.UploadFileToDrive();

    }


    private void MD5(string Password)
    {

        string cadenaEncriptada = Encrypt.GetMD5(Password);
        string codigo ;
        model.Password = cadenaEncriptada;
        Console.WriteLine("Ingrese la llave de desencryptacion");
        codigo = Console.ReadLine();
        if (codigo == "batman"  )
        {
            Console.WriteLine("cadena desencryptada");
            Console.WriteLine(Password);

        }
        else
        {
            Console.WriteLine("codigo incorrecto");
            Console.WriteLine(cadenaEncriptada);
        }
    }
    public void ParameterEncrip() 
    {
        MD5(Password);
    }

    public class Encrypt
    {
        public static string GetMD5(string str)
        {
            MD5 md5 = MD5CryptoServiceProvider.Create();
            ASCIIEncoding encoding = new ASCIIEncoding();
            byte[] stream = null;
            StringBuilder sb = new StringBuilder();
            stream = md5.ComputeHash(encoding.GetBytes(str));
            for (int i = 0; i < stream.Length; i++) sb.AppendFormat("{0:x2}", stream[i]);
            return sb.ToString();
        }
    }
    public void create()
    {
        googleDrive.UploadFileToDrive();
    }
}
