@page "/Password"


<PageTitle>Index</PageTitle>

<div class="app-container box">
    <div class="app-row box">
        <div class="col-7 box LastPass">LastPass...| </div>
        <div class="col-9 box">
            <Serch></Serch>
        </div>
        <div class="col-8 box">
            <ButtonUser></ButtonUser>
        </div>
    </div>
    <div class="app-row ">
        <div class="col-24 " style=" border-bottom: 1px solid gray" id="show-1">
            (none) =>
        </div>
    </div>
    
    
        <div class="app-row " id="card-1">
        <div class="col-4 ">
            <PrintCheckbox></PrintCheckbox>
        </div>
        <div class="col-4 ">
            @foreach (var item in googleDrive.NewModel)
            {
                <div>
                    <PrintCard></PrintCard>
                </div>
            }
        </div>
        <div class="col-4 ">
            <PrintName></PrintName>
        </div>
        <div class="col-4 ">
            <PrintUltimeAcces></PrintUltimeAcces>
        </div>
        <div class="col-4 alert-danger2">
            <PrintDanger></PrintDanger>
        </div>
        <div class="col-4 Edit-card ">
            <PrintConfig></PrintConfig>
        </div>
    </div>
    
    <div class="col- 24 ">
        <CreateItem></CreateItem>
    </div>

    <div class="col-24 oi-account-login">
    </div>
    
</div>
